<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/avatar2.png" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p> <%- user.name %></p>
      <a href="/index"><i class="fa fa-circle text-success"></i> Online</a>
    </div>

  </div>

  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li>
      <a href="/perfil">
        <i class="fa fa-user"></i>
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a href="/solicitudesPendientes">
        <i class="fa  fa-plus-square-o"></i>
        <span>Solicitudes pendientes</span>
      </a>
    </li>
    <li>
      <a href="/generarTest">
        <i class="fa  fa-plus-square-o"></i>
        <span>Generar test</span>
      </a>
    </li>
    <li>
      <a href="/crearClase">
        <i class="fa  fa-plus-square-o"></i>
        <span>Añadir Clase</span>
      </a>
    </li>
    <li>
        <a href="/preChatTeacher">
          <i class="fa fa-envelope"></i>
          <span>Chats de clases</span>
        </a>
      </li>

  </ul>
</section>
<!-- /.sidebar -->